*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto' , sans-serif;
    background-color: rgb(217,217, 217);
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 16px;
}
.logo{
    display: flex;
    align-items: center;
    margin: 5px;
}
.logo li {
    list-style: none;
    margin-inline: 25px;
    font-size: 19px;
}
.logo li:hover{
    color: rgb(0,140, 255);
    border-bottom: 2px solid black;
    cursor: pointer;
}
.searchBar{
    display: flex;
}
.searchBar input{
    width: 220px;
    padding: 6px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    margin-inline: 5px;
}
.searchBar button{
    width: 60px;
    height: 38px;
    background-color: rgb(0,140, 255);
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.cardData{
    display: grid;
    justify-content: center;
    width: 80%;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin: auto;
    margin-top: 122px;
}
.card{
    background-color: #fff;
    padding: 11px;
    margin-top: 25px;
    cursor: pointer;
}
.card img {
    width: 100%;
    height: 45%;
}
.card h3{
    margin-top: 10px;
    padding: 3px;
}
.card p{
    margin-top: 10px;
    padding: 2px;
}

.category{
    position: absolute;
    color: black;
    margin-top: 122px;
    margin-left: 126px;

}
@media only screen and (max-width:830px){
    li{
        display: none;
    }
}
@media only screen and (max-width:470px){
  nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .logo{
   justify-content: center;
  }
  .searchBar{
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
  .category{
    margin-top: 160px;
    text-align: center;
  }
}